@charset "utf-8";

//Perfect 4th Scale 1.33
$size-1: 4.16rem;
$size-2: 3.13rem;
$size-3: 2.35rem;
$size-4: 1.77rem;
$size-5: 1.33rem;
$size-6: 1rem;
$size-7: 0.75rem;

@import "../node_modules/bulma/bulma.sass";